<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bytes Cafe - Events</title>
    <style>
        body{
        background-color: lavender;
    }
    </style>
    
</head>
<body>
    <h1>Events</h1>
    <h2>Hackathons</h2>
    <div>
        <h3>HackCU</h3>
        <p>This is a multiday event that is hosted by CUBoulder</p>
    </div>
    <div>
        <h3>T9Hacks</h3>
        <p>This is a 2 day Hackathon hosted by ATLAS</p>
    </div>
    <br>
    <h2>Career Meetups</h2>
    <div>
        <h3>Meet & Greet - Google</h3>
    </div>
</body>
</html>